<app-forms></app-forms>

<!-- <form>
  <div class="flex">
    <label> E-mail:</label>
    <input type="text" />
  </div>

  <div class="flex">
    <label> Password:</label>
    <input type="password" />
  </div>

  <div class="flex">
    <label> Confirm Password:</label>
    <input type="password" />
  </div>

  <div class="flex">
    <label> Nickname:</label>
    <input type="text" />
  </div>

  <div class="flex">
    <label> Phone Number:</label>
    <input type="number" />
  </div>

  <div class="flex">
    <label> Website</label>
    <input type="text" />
  </div>

  <div class="check">
    <input type="checkbox" />
    <label class="agreement">I have read the <span>agreement</span></label>
  </div>

  <button>Register</button>
</form> -->
